<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Log in</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="login()" [formGroup]="loginForm">
	

		<div padding-horizontal>

			<ion-list>


					<ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>
			
					<ion-item (click)="logout()" *ngIf="auth.authenticated">
						<ion-icon name="log-out" item-left></ion-icon>
						Log out
					</ion-item>
			
					<ion-item (click)="loginWithGoogle()" *ngIf="!auth.authenticated">
						<ion-icon name="log-in" item-left></ion-icon>
						Log in with Google
					</ion-item>

			</ion-list>
		</div>
	</form>
</ion-content>
