<ion-header>
  <ion-navbar transparent>
    <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding>
    <ion-slides show-pager="false">
  <ion-slide *ngFor="let slide of slides">
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>

  <ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>
</ion-slides>

<ion-slides show-pager="false">
  <ion-slide *ngFor="let slide of slides">
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>

  <ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>
<ion-slide>
  <ion-card>
    <img src="href=../../assets/imgs/1604996_English_KeyArt-OfficialVideoImage_6d99329f-2f58-e711-8175-020165574d09.jpg" rel="nofollow">
  </ion-card>
</ion-slide>
</ion-slides>

</ion-content>
